.footer {
  background-color: black;
  color: #ce8a28;
  padding-bottom: 2em;

  p {
    opacity: 0.7;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 1em 0;
    }
  }

  .copyright {
    text-align: center;
    padding-top: 3em;
  }

  @media (max-width: 760px) {
    .content {
      display: block;

      a {
        display: block;
        margin-top: 2em;
      }
    }
  }
}