.navbar {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: flex;
      align-items: center;
      color: #B9721F;

      svg {
        margin-right: 1em;
      }
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 2em;

        a {
          text-decoration: none;
          color: #B9721F;
          transition: 0.3s ease-in-out;
        }

        a:hover {
          color: #FF8A00;
        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}