.navbar {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      display: flex;
      align-items: center;
      color: #FE9D2B;

      svg {
        margin-right: 1em;
      }
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 2em;

        a {
          text-decoration: none;

        }
      }

      li:last-child {
        margin-right: 0;
      }
    }
  }
}