#landing {
  .home {
    height: 100vh;

    .content {
      height: 80%;
      display: flex;
      justify-content: space-between;

      .left {
        width: 40%;
      }

      .right {
        width: 40%;

        img {
          width: 100%;
        }
      }
    }
  }
}