.glider-contain {
  margin: 3em 0;

  .img-slide {
    text-align: center;

    img {
      max-width: 700px;
      max-height: 500px;

      @media (max-width: 900px) {
        max-width: 600px;
        max-height: 400px;
      }

      @media (max-width: 760px) {
        max-width: 500px;
        max-height: 300px;
      }

      @media (max-width: 560px) {
        max-width: 400px;
        max-height: 200px;
      }

      @media (max-width: 360px) {
        max-width: 300px;
        max-height: 100px;
      }
    }

    h3 {
      margin: 2em 0 0.3em 0;
    }

    p {
      color: #606060;
      max-width: 700px;
      margin: auto;
    }
  }
}